@{
    ViewData["Title"] = "Edit";
}
@model FilmModel

<form method="post">
    <input asp-for="@Model.Id" type="hidden"/>
    <table class="table">
        <tr>
            <td>New title:</td>
            <td><input type="text" asp-for="Title"/></td>
        </tr>
        <tr>
            <td>New genre:</td>
            <td><input type="text" asp-for="Genre" /></td>
        </tr>
        <tr>
            <td>New year:</td>
            <td><input type="text" asp-for="Year" /></td>
        </tr>
    </table>
    <a asp-action="Edit"><input type="submit" value="Edit" class="btn btn-success"/></a>
    <a asp-action="Index" asp-controller="Film"><input type="submit" value="Return to home page" class="btn btn-primary"/></a>
</form>